:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

input {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

select {
    padding: 0.5rem 0.5rem;
    cursor: pointer;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

#home ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    list-style: none;
}

#home a {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;

    text-decoration: none;
    background-color: buttonface;
    color: buttontext;
}


#player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
}

#player .player-controls {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#player .player-seek {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 1rem;
}

#player .player-seek input {
    width: 8rem;
}

#player .mp4-player {
    width: 100%;
    height: auto;
    max-width: 30rem;
    margin-top: 1.5rem;
}


#recorder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
}

#recorder video {
    width: 100%;
    height: auto;
    max-width: 50rem;
    margin-top: 1.5rem;
}